<%- include('./partials/header.ejs') %>
<body>
    <%- include('./partials/nav.ejs') %>
        <div class="details content">
            <h2 class="blog-heading"><%= blog.title %></h2>
            <div class="content">
                <p class="center"><%= blog.body %></p>
            </div>
            <a class="delete btn" data-doc="<%= blog._id %>">Delete</a>
        </div>
    <%- include('./partials/footer.ejs')%>

    <script>
        const delete_a = document.querySelector('.delete');
        delete_a.addEventListener('click', (e) => {
            const endpoint = `/blogs/${delete_a.dataset.doc}`;

            fetch(endpoint, {
                method: 'DELETE'
            })
            .then(response => response.json())
            .then(data => window.location.href = data.redirect)
            .catch(err => console.log(err))
        })
    </script>
</body>
</html>