<%- include('./partials/header.ejs') %>
<body>
    <%- include('./partials/nav.ejs') %>
    <% if(blogs.length > 0) { %>
        <% blogs.forEach(blog => { %>
            <a class="blog" href="/blogs/<%= blog.id%>">
            <h1 class="mb-small"><%= blog.title %> </h1>
            <p> <%= blog.snippet %> </p>
            </a>
       <% })} else { %>
        <h1 class="center mt-medium">there is no blogs</h1>
        <% } %>

    <%- include('./partials/footer.ejs')%>
</body>
</html>